<%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %>

<h2> <%= "#{@merchant.name}: #{@bulk_discount.name}" %> </h2>
<ul>
<li>Quantity Threshold: <%= "#{@bulk_discount.quantity_threshold}"%> </li>
<li><%= "#{@bulk_discount.percentage_discount}% Discount" %> </li>

</ul>
